[Unit]
Description=Frp Server

[Service]
Type=simple
ExecStart=/opt/frpc/frpc -c /opt/frpc/frpc.ini
ExecReload=/opt/bin/frpc reload -c /etc/frp/frpc.ini
KillMode=process

Restart=always
RestartSec=60
StartLimitInterval=10
StartLimitBurst=5

User=nobody
ProtectSystem=true
ProtectHome=read-only

[Install]
WantedBy=multi-user.target
